GOERLI_RPC_URL=https://eth-goerli.g.alchemy.com/v2/xxxxxxxxxxxxxxxxxxxxx

# FOR LOCAL DEVELOPMENT WITH HARDHAT
LOCALHOST_RPC_URL=http://127.0.0.1:8545/

# FILL WITH A PRIVATE KEY OF A WALLET (HARDHAT FOR LOCAL / METAMASK FOR MAINET)
PRIVATE_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# FILL WITH AN ETHERSCAN API KEY
ETHERSCAN_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# FILL WITH AN COINMARKETCAP API KEY
COINMARKETCAP_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX